{% extends 'layout.html' %}
{% block bread_crumb %}{% endblock %}
{% block multi_menu %}{% endblock %}
{% block content %}
    <div class="luffy-container">
        {% if search_list %}
            <div style="float: right">
                <form method="get" class="form-inline">

                    <div class="form-group">
                        <input class="form-control" type="text" name="q" value="{{ search_value }}"
                               placeholder="请输入查询参数">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% if action_dict %}
                <div style="float: left">
                    <div class="form-inline">
                        <div class="form-group">
                            <select class="form-control" name="action">
                                <option>批量操作</option>
                                {% for func_name,func_text in action_dict.items %}
                                    <option value="{{ func_name }}">{{ func_text }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">执行</button>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if add_btn %}
                <div style="margin: 5px 0;">
                    {{ add_btn|safe }}
                </div>
            {% endif %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    {% for item in header_list %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in body_list %}
                    <tr>
                        {% for ele in row %}
                            <td>{{ ele }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

    </form>


    <nav>
        <ul class="pagination">
            {{ pager.page_html|safe }}
        </ul>
    </nav>
{% endblock %}